.homeContainer{
    color: $white;
    border: solid 0.1rem $white-opacity-20;
    box-shadow: $box-shadow-1, $interior-box-shadow;
    margin-left: 3rem;
    text-align: center;
    padding: 12rem 5rem;
    border-radius: $borderRadius;

    .homeContent{

        margin: auto;

        h1{
            font-size: 3rem;
            font-weight: 200;
            padding-bottom: 2rem;
    
            span{
                font-family: $font-Reem-Kufi;
                font-weight: 800;
            }
        }
        h2{
            font-weight: 300;
            color: $white;
            // Adpat the gradient to the text
            width: 60%;
            margin: auto;
            // Gradient
            background-color:$white;
            background-image: linear-gradient(90deg, rgba(234,91,12,1) 0%, rgba(246,167,109,1) 100%);
            // A kind of "pathfinder"
            -webkit-background-clip: text;
            // Make white text transparent
            -webkit-text-fill-color: transparent;
            // Same settings for Firefox 
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
            padding-bottom: 10rem;
        }

        .uploadcv{
            a{
                background-color: $lightorange;
                border-radius: 2rem;
                color: $darkblue;
                padding: 1rem;
            }
            a:hover{
                color: $darkblue;
            }
        }
    }
}