.Portfolio{

    .PortfolioContent{

        .RadioDisplay {
            display: grid;
            width: 100%;
        }

        .Projects{
            display: grid;
            grid-template-columns: repeat(auto-fill, 380px);
            justify-content: center;
            height: auto;
            margin: auto;
            grid-gap: 24px;

            .projects{
                margin-top: 2rem;

                h3{
                    color: $lightorange;
                    font-size: 20px;
                    margin-bottom: 0.5rem;
                    font-weight: 400;
                    width: 100%;
                    text-transform: uppercase;
                }
            
                .projectsContainer{

                    .Projectpicture{
                        width: 380px;
                        height: 225px;
                        object-fit: cover;
                        border-radius: $borderRadius;
                        cursor: pointer;
                        box-shadow: $box-shadow-1, $interior-box-shadow;
                        border: solid 0.1rem $white-opacity-20;
                    }

                    .Projectpicture:hover{
                        transform: scale(1.04, 1.04);
                    }

                    // Hide the scrollbar
                    .showInfos::-webkit-scrollbar {
                        display: none;
                    }

                    .showInfos{
                        background : rgba(0, 0, 36, 0.5);
                        max-width: 100%;
                        min-height: 100%;
                        position: fixed;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        overflow-y: scroll;
                        -ms-overflow-style: none; // Internet Explorer 10+
                        overflow: -moz-scrollbars-none; // Firefox

                        .showModal:active{
                            animation: showModal .3s ease forwards ;
                            transform-origin: center;
                        }

                        .showModal{    
                            background-color: rgb(250, 250, 250);
                            padding: 2rem;
                            border-radius: $borderRadius;
                            box-shadow: $box-shadow-1, $interior-box-shadow;
                            border: solid 0.1rem $white-opacity-20;
                            width: 45%;
                            position: absolute;
                            left: 27.4%;
                            top: 5%;
                            z-index: 2;

                            .buttonReturn{
                                .closeDetails{
                                    float: right;
                                    cursor: pointer;
                                    transform: rotate(45deg);

                                    i{
                                        color: $lightorange;
                                        margin: auto;
                                        border-radius: 50%;
                                        font-size: 1.25rem;
                                    }
                                }
                                .closeDetails:hover{
                                    transform: rotate(0deg);
                                }
                            }
                            .headModal{
                                display: flex;
                                margin-bottom: 0.5rem;
                                align-items: center;

                                h2{
                                    text-transform: uppercase;
                                    font-weight: 500;
                                    color: $darkblue;
                                    width: 10rem;
                                    float: left;
                                }
                                span{
                                    color: $lightblue;
                                    font-size: 0.8rem;
                                }
                            }
                            .PictureContainer{

                                .PictureDescription{
                                    width: 100%;
                                    margin-top: 1rem;
                                    border: solid 1px $darkblue;
                                }

                                .PictureMobileDescription{
                                    height: 500px;
                                    margin-top: 1rem;
                                    border: solid 1px $darkblue;
                                }
                            }
                            .ModalContainer{
                            
                                p{
                                    width: 100%;
                                    font-size: 0.9rem;
                                    font-weight: 400;
                                    color: $darkblue;
                                    text-align: justify;
                                    line-height: 1.5;
                                    margin-top: 1rem;
                                    font-style: italic;
                                }
                                .dateModal{
                                    color: $lightblue;
                                    font-size: 0.8rem;
                                    text-align: center;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}