// IMPORT SOME FONTS

// Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Reem Kufi
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap');

// Lobster
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


// VARIABLES

// Create variables for fonts
$font-Roboto : 'Roboto', sans-serif;
$font-Reem-Kufi : 'Reem Kufi', sans-serif;

// Create variables for colors
$darkblue : #000024;
$lightblue : #6464D6;
$lightorange : #F6A76D;
$white: #ddd;
$white-opacity-20 : rgba(255, 255, 255, 0.2);

// Variables for shadows
// Right, bottom, opacity, color (rgba + opacity)
$box-shadow-1: 0rem 0rem 2rem rgba(0, 0, 36, 0.25);
$box-shadow-2: 0rem 0rem 2rem rgba(0, 0, 36, 0.5);
// Interiror box shadow
$interior-box-shadow: inset 0 0 1.5rem 0.5rem rgba(100, 100, 214, 0.1);

// Variables for some settings
$borderRadius: 25px;
$shadow: 0 1px 3px #000024;
$minHeight : 95vh;


// SOME SETTINGS

// Have a background that adapts to the size of the screen
html{
    height: 100%;
    background: linear-gradient(45deg, rgba(0,0,36,1) 0%, rgba(95,95,131,1) 100%);
    // Background without demarcation
    background-repeat: no-repeat;
    background-attachment: fixed;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 1rem auto;
    max-width: 1200px;
    min-height: 100%;
    font-family: $font-Roboto;
}

button {
    cursor: pointer;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    cursor: pointer;
}

// RESPONSIVE

// Mobile 700px <
@media screen and (max-width: 700px){

    .Sidebar{
        margin: 1rem;

        .Navigation{
            margin: auto !important;
            padding: .5rem 0rem 1rem 0rem !important;
    
            ul{
                li{
                    text-align: center;
                    padding-left: 2rem !important;
                    padding-right: 2rem !important;
                    padding: 1rem 1rem 1rem 1rem;

                    span{
                        display: none;
                    }
                }
            }
        }
    }

    .homeContainer{
        margin: 0rem 1rem !important;
        padding: 2.5rem 1.5rem 3rem !important;
        width: 355px;
        margin: auto !important;

        .homeContent{

            h1{
                font-size: 2.1rem !important;
                line-height: 4rem !important;
            }
            h2{
                padding-bottom: 5rem !important;
                font-size: 1.25rem !important;
                line-height: 2rem !important;
            }
        }
    }

    .CareerContent{
        margin: 0rem 1rem !important;
        grid-template-columns: repeat(auto-fill, 355px) !important;
        
        .Experiences{
            margin-top: 0 !important;

            h5{
                margin-left: 1.3rem !important;
            }
            h6{
                margin-left: 1.3rem !important;
            }
            ul{
                margin-left: 1.3rem !important;

                li{
                    margin-left: 1rem !important;
                }
            }
        }

        .Training{
            margin-top: 0 !important;
            margin-bottom: 1rem !important;

            h5{
                margin-left: 1.3rem !important;
            }
            h6{
                margin-left: 1.3rem !important;
            }
            ul{
                li{
                    margin-left: 1.5rem !important;
                }
            }
            p{
                margin-left: 1.3rem !important;
            }
        }
    }

    .KnowledgesContent{
        margin: 1rem;
        grid-template-columns: repeat(auto-fill, 355px) !important;
        margin-top: 0 !important;

        .SoftskillsHobbys{
            margin-bottom: 1rem !important;
        }
    }

    .PortfolioContent{
        margin: 1rem;

        .Projects{
            grid-template-columns: repeat(auto-fill, 360px) !important;

            .projects{
                margin-top: 0 !important;

                .projectsContainer{
                    
                    .Projectpicture{
                        width: 355px !important;
                        height: 200px !important;
                        object-fit: cover !important;
                    }

                    .showModal{
                        width: 100% !important;
                        left: 0 !important;
                        top: 0 !important;
                        border-radius: 0px !important;

                        .headModal{
                            display: flex !important;
                            flex-direction: column !important;
                            align-items: baseline !important;

                            h2{
                                margin-bottom: .5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Responsive small screen
@media only screen and (min-width: 700px) and (max-width: 1250px){

    .Sidebar{
        margin: 1rem;

        .Navigation{
            margin: auto;
        }
    }
    .homeContainer{
        margin: 2rem 1rem !important;
    }
    .CareerContent{
        margin: 1rem;
    }
}