.Experiences{
    color: $white;
    font-weight: 200;
    border: solid 0.1rem $white-opacity-20;
    box-shadow: $box-shadow-1, $interior-box-shadow;
    margin-top: 2rem;
    margin-right: 0.75rem;
    padding: 2rem;
    border-radius: $borderRadius;
    width: 50%;
    line-height: 1.5;
    font-size: 0.9rem;

    h3{
        color: $lightorange;
        font-size: 20px;
        margin-bottom: 0.5rem;
        font-weight: 400;
        width: 100%;
        text-transform: uppercase;
    }
    h4{
        font-weight: 300;
        font-size: 1.1rem;
        color: $lightorange;

        i{
            margin-right: 1rem;
            font-size: 0.6rem;
            color: $lightblue !important;
        }
    }
    h5{
        font-weight: 400;
        font-size: 1rem;
        margin-left: 2.5rem;
    }
    h6{
        font-weight: 300;
        font-size: 1rem;
        margin-left: 2.5rem;
    }
    li{
        list-style: disc;
        margin-left: 3.5rem;
    }

    .experiences{
        padding: 0 0 1.5rem;
    }
}