.Experiences{
    color: $white;
    font-weight: 200;
    border: solid 0.1rem $white-opacity-20;
    box-shadow: $box-shadow-1, $interior-box-shadow;
    margin-left: 1.5rem;
    padding: 2rem;
    border-radius: $borderRadius;
    width: 50%;
    line-height: 1.5;
    font-size: 0.9rem;

    h3{
        font-weight: 200;
        color: $darkorange;
        font-size: 1.75rem;
        padding-bottom: 1rem; // To have the same distance between the title, .experience-1 and .experience-2
        // Gradient to the text
        width: 100%;
        margin: auto;
        color: $darkorange;
    }
    h4{
        font-weight: 500;
        font-size: 1rem;
        color: $lightorange;
    }
    h5{
        font-weight: 400;
        font-size: 0.9rem;
    }
    li{
        list-style: square;
        margin-left: 1rem;
    }

    .experiences{
        padding: 0 0 1.5rem;
    }
}