.graphism{
    color: $white;
    font-weight: 200;
    border: solid 0.1rem $white-opacity-20;
    box-shadow: $box-shadow-1, $interior-box-shadow;
    padding: 2rem;
    border-radius: $borderRadius;
    line-height: 1.5;
}