.Sidebar{
    border: solid 0.01rem $white-opacity-20;
    box-shadow: $box-shadow-1, $interior-box-shadow;
    color: $white;
    font-family: $font-Roboto;
    border-radius: $borderRadius;
    position: relative;
    display: flex;

    .Navigation{
        grid-area: 2;
        padding: 1rem 1rem;

        ul{
            height: 100%;
            display: flex;
        }
        li{
            padding: 1rem 4rem 1rem 1rem;
            font-size: 0.9rem;
            position: relative;
        }
        li:hover{
            transform: scale(1.1, 1.1);
        }
        a{
            color: $white;
        }
        .navActive{
            color: rgba(185, 22, 22, 0.667);
        }
        i{
            position: absolute;
            font-size: 1rem;
        }
        span{
            // Spaces between icons and links
            margin-left: 2rem;
        }
    }

    .socialNetwork{
        grid-area: 3;

        ul{
            display: flex;
            width: 264px;
            padding: 12px 100px;
            justify-content: space-between;
            padding-right: 0.1rem;

        li{ 
            color: $white;
            font-size: 1.5rem;
            border-radius: 50%;
            padding: .8rem .8rem;
            cursor: pointer;

            a{
                color : $white;
            }

            a:visited{
                color: $white;
            }
        }
        li:hover{
            transform: scale(1.1, 1.1);
        }
        }
    }
}