.nextpage{
    margin-top: 3rem !important;
    margin: auto;
    color: $white;
    border: solid 1px $darkorange;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color:$white;
    background-image: linear-gradient(90deg, rgba(234,91,12,1) 0%, rgba(246,167,109,1) 100%);

    .fas{
        color: $darkorange;
    }
}

.nextpage:hover{
    transform: scale(1.1, 1.1);

    .fas{
        color: $white;
    }
}