.Training{
    color: $white;
    border: solid 0.1rem $white-opacity-20;
    box-shadow: $box-shadow-1, $interior-box-shadow;
    margin-top: 2rem;
    margin-left: 0.75rem;
    padding: 2rem;
    border-radius: $borderRadius;
    width: 50%;
    line-height: 1.5;

    h3{
        font-weight: 400;
        color: $lightorange;
        font-size: 20px;
        width: 100%;
        margin: auto;
        margin-bottom: 0.5rem;
        text-transform: uppercase;

    }
    h4{
        font-weight: 400;
        font-size: 1.1rem;
        color: $lightblue;
    }
    h5{
        font-weight: 300;
        font-size: 1rem;
    }
    h6{
        font-weight: 300;
        font-size: 1rem;
        margin-left: 1rem;
    }
    li{
        list-style: disc;
        margin-left: 2rem;
    }

    .training{
        padding: 0 0 1.5rem;

        p{
            font-weight: 200;
            font-size: 0.9rem;
            margin-left : 1rem;
        }
    }
}